<label for="title" class="control-label"><h4>Title:</h4></label>
<div>
    <input id="title" ng-model="book.title" type="text" class="form-control input-lg" placeholder="Title"
           required="required"/>
</div>

<label class="control-label" for="genre"><h4>Genre:</h4></label>
<div>
    <ui-select id="genre" ng-model="book.genre">
        <ui-select-match>
            <span ng-bind="book.genre.title"></span>
        </ui-select-match>
        <ui-select-choices repeat="item in bookCtrl.genres">
            <span ng-bind="item.title"></span>
        </ui-select-choices>
    </ui-select>
</div>

<label for="authors" class="control-label"><h4>Authors:</h4></label>
<div>
    <ui-select id="authors" multiple ng-model="book.authors" theme="bootstrap"
               ng-change="setBookAuthors(book.authors)"
               tagging="parseTag" class="ui-select input-lg">
        <ui-select-match placeholder="Select authors...">
            {{$item.firstName + " " + $item.surname}}
        </ui-select-match>
        <ui-select-choices repeat="author in (bookCtrl.authors | filter: $select.search)">
            {{author.firstName + " " + author.surname}}
        </ui-select-choices>
    </ui-select>
</div>

<label for="picture"><h4>Image URL:</h4></label>
<input id="picture" ng-model="book.picture" class="form-control input-lg"
       rows="5"/>

<label for="description"><h4>Description:</h4></label>
<textarea id="description" ng-model="book.description" class="form-control input-lg" rows="5"
          required="required" style="resize: vertical">
</textarea>

