<div ng-repeat="book in books">
    <a href="#/books/{{book.id}}">
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <div class="img-format-size">
                    <img ng-src="{{book.picture}}" class="img-responsive" alt="{{book.title}}" />
                </div>

                <div class="caption text-center">
                    <h4>{{book.title}}</h4>
                    <a href="#/books/{{book.id}}/exchanges/new" class="btn btn-success">Make offer</a>
                </div>
                <p>
                </p>
            </div>
        </div>
    </a>
</div>


<!--<ul class="list-group" id="contact-list">-->
    <!--<li class="list-group-item book" ng-repeat="book in books">-->
            <!--<div class="col-xs-12 col-sm-3">-->
                <!--<img ng-src="{{book.picture}}" alt="{{book.title}}"-->
                     <!--class="img-responsive"/>-->
            <!--</div>-->
            <!--<div class="col-xs-12 col-sm-9">-->
                <!--<span class="name h4">-->
                    <!--<a href="#/books/{{book.id}}" class="mybtn">{{book.title}}</a>-->
                <!--</span>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<span class="h4"><span class="book-info">Genre:</span> {{book.genre}}</span>-->
                <!--<br/>-->
                <!--<span class="h4"><span class="book-info">Author:</span> {{book.author}}</span>-->
                <!--<br/>-->
                <!--<br/>-->
                <!--<span class="h5 book-description">{{book.description}}</span>-->
                <!--<br/>-->
                <!--<a href="#/books/{{book.id}}/exchange/new" class="btn btn-success">Make offer</a>-->
            <!--</div>-->

        <!--<span class="text-muted book-author">First owner <a href="# /users/{{book.creator.id}}">{{book.creator.name}}</a></span>-->
            <!--<div class="clearfix"></div>-->
    <!--</li>-->
<!--</ul>-->