<div class="col-md-5 col-md-offset-4 book">
    <h2>Створити нову книгу</h2>
    <form>
        <label>
            Назва
            <br/>
            <input type="text" ng-model="book.title" class="form-control">
        </label>

        <br/>
        <label>
            Жанр
            <br/>
            <ui-select ng-model="book.genre"  class="form-control">
                <ui-select-match>
                    <span ng-bind="book.genre.title"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in genres">
                    <span ng-bind="item.title"></span>
                </ui-select-choices>
            </ui-select>
        </label>
        <label>
            Автори
            <br/>
            <ui-select id="authors" multiple ng-model="book.authors" theme="bootstrap"
                       ng-change="setBookAuthors(book.authors)"
                       tagging="parseTag" class="ui-select input-lg">
                <ui-select-match placeholder="Select authors...">
                    {{$item.surname}}
                </ui-select-match>
                <ui-select-choices repeat="author in (authors | filter: $select.search)">
                    {{author.firstName + " " + author.surname}}
                </ui-select-choices>
            </ui-select>
        </label>
        <br/>
        <label>
            Опис
            <br/>
            <textarea style="resize: vertical; width: 260px; padding: 2px 10px;" ng-model="book.description">

            </textarea>
        </label>
        <br/>
        <label>
            Зображення
            <br/>
            <input type="text" placeholder="e.g. http://site.com/photo_book.png"
                   class="form-control"
                   ng-model="book.picture">
        </label>
        <br>
        <button ng-click="createBook()" class="btn btn-primary">
            Створити книгу
        </button>

        <div class="clearfix"></div>
    </form>
</div>