.book {
    opacity: .93;
    background-color: #fffbc7;
    margin-bottom: 10px;
    padding: 30px;
    border-radius: 5px;
}

.well.margin-well {
    background-color: #fffbc7;
}

.book-description {
    overflow: hidden;
    max-height: 60%;
    color: #566680;
}

.book-author {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.book-info {
    border-bottom: 1px solid gray;
    color: #464646;
}

.book-name {
    color: #eb9316;
    margin-left: 10px;
}

.book-history {
    color: #c78688;
    margin: 0 0 20px 10px;
}

.book-history-info {
    font-family: Calibri;
}

.mybtn {
    display: inline-block;
    background-color: white;
    margin-bottom: -5px;
    padding: 6px;
    color: black;
    border: 1px solid #2e2e2e;
    border-radius: 4px;
}

.mybtn:hover{
   text-decoration: none;
}

.table.table-history {
    font-size: 1.4em;
}

.text-title {
    font-weight: bold;
}

.description-text {
    font-size: 18px;
    text-align: justify;
}

.book-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.full-width {
    display: block;
    width: 100%;
    margin: 5px;
}

.book-owner-info {
    border: 1px solid #f4d03f;
    border-radius: 3px;
    padding: 10px;
    margin: 15px 0px 15px 0px;
}

.book-ui-select {
    border-color: white;
}

.book-authors .ui-select-match-item .btn .btn-default .btn-xs .btn-primary {
    font-size: 18px;
}

.description-height {
    height: 100px;
}