* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: scroll;
}

.ng-enter {
    transition: 1.75s;
    opacity: 0;
}

.ng-enter-active {
    opacity: 1;
}

.ng-enter-stagger {
    transition-delay: 2s;
}

.ng-leave-stagger {
    transition-delay: 1s;
}

.ng-leave {
    transition: 1.75s;
    opacity: 1;
}

.ng-leave-active {
    opacity: 0;
}

.app-container {
    margin-top: 65px;
}

li {
    list-style-type: none;
}

.img-format-size {
    height: 148px !important;
    width: 189px !important;
}

.img-lib-size {
    height: 104px !important;
    width: 133px !important;
}

.desired-book {
    padding: 15px;
    padding-bottom: 45px;
    margin-bottom: 20px;
    background-color: #f7ecb5;
}

.exchange {
    display: block;
    background-color: #faf2cc;
}
