.navbar {
    background-color: #fffbc7;
}

.navbar-default .navbar-brand.logo {
    color: #d5d5d5;
    font-family: "Brush Script MT" !important;
    font-size: 2em;
}

.navbar-default {
    background-image: none;
}

.navbar-default:hover .navbar-brand:hover{
    color: #c6c6c6;
}

.btn.logout {
    background-image: none;
    background-color: white;
}

.found-book-btn {
    background-color: #a5f399;
    font-size: 1.2em;
}