<div class="row">
    <div ng-repeat="book in exchange.currentUserBooks">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="img-lib-size">
                    <img ng-src="{{book.picture}}" alt="{{book.title}}"
                         class="img-lib-responsive"/>
                </div>
                <div class="caption text-center">
                    <div class="h5" style="min-height: 30px;">{{book.title}}</div>

                    <div ng-hide="book.added">
                        <a ng-click="exchange.addToOffersCart(book);"
                           class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-plus"></span>
                            Додати
                            <i class="fa fa-plus-circle fa-2x"></i>
                        </a>
                    </div>
                    <div ng-hide="!book.added">
                        <a ng-click="exchange.deleteFromOffersCart(book);"
                           class="btn btn-primary btn-block">
                            <span class="glyphicon glyphicon-remove"></span>
                            Не пропонувати
                            <i class="fa fa-minus-circle fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>