<div class="col-sm-12">
    <div class="col-sm-offset-3 col-sm-6 margin-img">
        <img class="img-responsive img-center img-rounded"
             ng-src="{{book.picture}}">
    </div>
    <div class="col-md-3">
        <a ng-if="whantToAdd && (book.owner == null)"
           class="btn btn-success" ng-click="acceptBook()">
            Add book
        </a>
    </div>
    <div class="col-sm-12 well margin-well">
            <span class="book-name h2">
                {{book.name}}
            </span>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <span class="h4"><span class="book-info">Genre:</span> {{book.genre}}</span>
                <br/>
                <br/>
                <span class="h4"><span class="book-info">Author:</span> {{book.author}}</span>

            </div>
            <div class="col-md-6">
                <span class="h3">Description</span>
                <br/>
                <span class="h4 book-description">{{book.description}}</span>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-6">
                <span class="h4">
                    Current owner
                    <a href="#/users/{{book.owner.id}}">

                        {{book.owner.name}}
                    </a>
                    <span class="h3" ng-if="!book.owner.name"><i>book is free!</i></span>
                    </span>
                <br/>
                <span class="text-muted">
                    First owner
                    <a href="#/users/{{book.creator.id}}">
                        {{book.creator.name}}
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-12 well margin-well">
        <span class="h3 book-history">Book history</span>
        <div ng-include="'/resources/js/books/_book_history.html'"></div>
    </div>
</div>