<div ng-controller="sidebarCtrl as sidebar" class="sidebar ">
    <a href="#" class="list-group-item">
        <i class="fa fa-comment-o"></i>
        <span class="glyphicon glyphicon-bell"></span>
        Всі книги
    </a>
    <a href="#/myBooks" class="list-group-item">
        <span class="glyphicon glyphicon-heart-empty"></span>
        Мої книги
    </a>
    <a href="#" class="list-group-item" ng-repeat="genre in sidebar.genres">
        <i class="fa fa-user"></i>
        <span class="glyphicon glyphicon-ok"></span>
        {{genre.title}}
    </a>
    <!--<a href="#/foundBook" class="list-group-item found-book-btn" ng-if="!showFoundBook">-->
        <!--<i class="fa fa-user"></i>-->
        <!--<span class="glyphicon glyphicon-search"></span>-->
        <!--Found a book?-->
    <!--</a>-->
</div>
