<div class="col-md-3">
    <div ng-include src="'/resources/js/User/pages/_short_information.html'"></div>
</div>
<div class="col-md-9">
    <div class="row">
        <h3>My wish list:</h3>
        <div ng-include src="'/resources/js/User/pages/_wish_list.html'"></div>
        <div ng-if="!cu.currentUser.createdExchanges.length">
            <div class="alert alert-warning" role="alert">
                <span class="h4">{{cu.currentUser.name}} have empty book wishes list!</span>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>Offers for you:</h3>
        <div ng-include src="'/resources/js/User/pages/_request_list.html'"></div>
        <div ng-if="!cu.currentUser.receivedExchanges.length">
            <div class="alert alert-warning" role="alert">
                <span class="h4">{{cu.currentUser.name}} have empty book wishes list!</span>
            </div>
        </div>
    </div>
</div>